<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Mouse Line</th>
        <th>Amount</th>
        <th>Gender</th>
        <th>Room</th>
        <th>Dropped off?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in model.peepsRequests">
        <td>{{order.name}}</td>
        <td>{{order.mouseline}}</td>
        <td>{{order.amount}}</td>
        <td>{{order.gender}}</td>
        <td>{{order.room}}</td>
        <td>{{order.delivered}}</td>
    </tr>
    </tbody>
</table>

</body>