<div class="wrap">

    <main>

        <aside>
            <h1>{{model.user.username}}'s Profile</h1>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" ng-model="model.user.username" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="alice@wonderland.com">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="Last Name">
                </div>
            </form>

            <a ng-click="model.updateUser(model.user)"
               class="btn btn-success btn-block">Update</a>

            <a href="#!/"
               class="btn btn-primary btn-block">Go Home</a>

            <a class="btn btn-danger  btn-block"
               ng-click="model.logout()">Logout</a>

        </aside>

        <article>
            <h1>Comments</h1>
            <ul class="list-group">
                <li ng-repeat="entry in model.comments" class="list-group-item">
                    <span ng-click="model.deleteComment(entry._id)" class="glyphicon glyphicon-remove pull-right"></span>
                    {{entry.title}} : {{entry.comment}}
                </li>
            </ul>
            <p>
            <div class="container-fluid">
                <div class="col-sm-4 col-sm-offset-4">

                    <label for="title">Title</label>
                    <input class="form-control"
                           ng-model="comment.title"
                           placeholder="Title"
                           id="title"/>

                    <label for="comment">Comment</label>
                    <textarea id="comment"
                              rows="5"
                              ng-model="comment.comment"
                              placeholder="So big it is its own country"
                              class="form-control"></textarea>

                    <a ng-click="model.createComment(comment)"
                       class="btn btn-block btn-success">
                        Make a Comment
                    </a>
                </div>
            </div>
            </p>
        </article>

    </main>

</div>