<div class="wrap">

    <main>

        <aside>
            <h1>Sidebar</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo autem cupiditate, facere quas recusandae itaque voluptates sint accusantium amet illo veniam totam placeat odio magni, quaerat eligendi.
                Distinctio et cupiditate nemo fugit, praesentium, ea obcaecati dolores non amet autem sequi laboriosam labore vero fugiat dolorem qui voluptatibus omnis eos architecto, recusandae corporis rerum quod.
                Ea minus et odio voluptate quaerat facere incidunt, impedit repellat eos nihil quis modi vel molestiae,
                eum vitae nam nemo quasi sit aperiam unde ex fugiat. Magnam dolores, enim consectetur veniam illum error
                eaque ea necessitatibus nam ipsam maxime dolore temporibus animi odio eum molestiae iure. Ut quos cupiditate ad
                perferendis dolorum nemo deserunt exercitationem magni ipsa iste ea fugit expedita sapiente numquam reprehenderit
                dolore, quo minus excepturi asperiores sit voluptatibus accusamus necessitatibus, ipsam. Delectus iste cupiditate
                asperiores vero repellendus atque aliquid temporibus perspiciatis reiciendis quibusdam similique, nesciunt
                accusantium tempora voluptatem optio qui odit ullam amet eveniet illum incidunt quis quia repudiandae animi.
                Recusandae, consequuntur laboriosam praesentium fugit possimus nemo ut porro reiciendis quo aperiam et aliquam
                fuga consectetur fugiat veritatis necessitatibus officiis, officia repellendus, rem. Voluptatem itaque, dolores
                autem at, culpa cum quam ratione laborum quo totam, nemo sed dolor, hic nisi nobis illo.
            </p>
        </aside>

        <article>
            <h1>Content</h1>
            <p>
                lipsum...
            </p>
        </article>

    </main>

</div>