input.form-control {
    margin-bottom: 5px;
}

/*.fixed-panel {*/
    /*height: 300px;*/
/*}*/

li.borderless {
    border: none;
}

.glyphicon-menu-left:before {
    margin-right: 10px;
}

.glyphicon-plus, .glyphicon-ok {
    color: #ffffff;
}

body {
    padding-top: 36px;
    margin: 20px;
}