/** {*/
    /*box-sizing: border-box;*/
/*}*/

.item {
    /*margin-top: 20px;*/
    /*width: 500px;*/
    /*height: 400px;*/
    margin: 30px;
    padding: 30px;
    text-align: center;
    color: #FFF;
    font-size: 2em;
    clear: both;
    overflow: hidden;
}

img {
    max-width: 60%;
    max-height: 50%;
    border-radius: 8px;
}

.smallImg {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mid h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /*font-size: 3rem;*/
    font-size: 3vw;
    transform: translate(-50%, -50%);
}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /*font-size: 2rem;*/
    font-size: 2vw;
    transform: translate(-50%, -50%);
}

.mid h1 a, .mid h2 a {
    text-decoration: none;
    color: white;
}

/*   */
