<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">-->
    <!--<title>Title</title>-->
    <!--<link href="/assignment/css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="css/style.css" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<p class="navbar-text"><a href="widget-list.view.client.html"><span class="pull-left glyphicon glyphicon-chevron-left newpagecustom" aria-hidden="true"></span></a>Widget Edit (Image)</p>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="widget-list.view.client.html"><span class="glyphicon glyphicon-ok newpagecustom"></span></a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->

    <!--<label for="name">Name</label>-->
    <!--<input class="form-control"-->
           <!--placeholder="facebook"-->
           <!--value="top heading"-->
           <!--id="name"/>-->

    <!--<label for="text">Text</label>-->
    <!--<input class="form-control"-->
           <!--placeholder="facebook"-->
           <!--value="US Senate Reaches Compromise"-->
           <!--id="text"/>-->

    <!--<label for="file">Upload</label>-->
    <!--<input id="file" multiple type="file" class="form-control"/>-->

    <!--<a href=""-->
       <!--class="btn btn-block btn-success">Upload</a>-->

    <!--<a href="widget-list.view.client.html"-->
       <!--class="btn btn-block btn-danger">Delete</a>-->

<!--</div>-->

<!--<nav class="navbar navbar-default navbar-fixed-bottom">-->
    <!--<div class="container">-->
        <!--<div class="row navbar-text">-->
            <!--<div class="col-xs-3 text-center">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="col-xs-3 text-center">-->
                <!--<a href="#">-->
                    <!--<span class="glyphicon glyphicon-heart"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Text"
           id="text"/>

    <label for="URL">URL</label>
    <input class="form-control"
           placeholder="URL"
           id="URL"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="Width"
           id="width"/>

    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a ng-click="model.createWidget(pageId, widget)"
       class="btn btn-block btn-success">Upload</a>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>


<!--</body>-->
<!--</html>-->