<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <label for="type">Widget Type</label>
            <select class="form-control" ng-model="model.widget.type" id="type"/>
            <option>IMAGE</option>
            </select>

            <label for="URL">URL</label>
            <input class="form-control"
                   ng-model="model.widget.url"
                   placeholder="URL"
                   id="URL"/>

            <label for="width">Width</label>
            <input class="form-control"
                   ng-model="model.widget.width"
                   placeholder="Width"
                   id="width"/>

            <a class="btn btn-info btn-block form-control"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickrSearch">Search</a>

            <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
                <input  name="myFile"    type="file" class="form-control"/>
                <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
                <input  name="userId"    value="{{model.userId}}"       style="display: none"/>
                <input  name="websiteId" value="{{model.websiteId}}"    style="display: none"/>
                <input  name="pageId"    value="{{model.pageId}}"       style="display: none"/>
                <input  name="widgetId"      value="{{model.widgetId}}"   style="display: none"/>
                <button type="submit"    class="btn btn-block btn-primary form-control">Upload Image</button>
            </form>

            <a ng-click="model.createWidget(model.pageId, model.widget)"
               class="btn btn-block btn-success">Upload from URL</a>

            <a ng-click="model.deleteWidget(model.widgetId)"
               class="btn btn-block btn-danger form-control">Delete</a>

        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
