<div class="container-fluid">
    <h1>Admin</h1>
    <ul class="list-group">
        <li ng-repeat="muser in model.musers" class="list-group-item">
            <span ng-click="model.deleteUser(muser)" class="glyphicon glyphicon-remove pull-right"></span>
            <a href="#!/{{muser._id}}/adminCommentsView">{{muser.username}} {{muser.role}}</a>
        </li>
    </ul>
</div>

<nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/"><span class="glyphicon glyphicon-home">Home</span></a></li>
                <li><a href="#!/listOfLines"><span class="glyphicon glyphicon-th-list">Lines List</span></a></li>
                <li><a href="#!/listOfRequests"><span class="glyphicon glyphicon-tag">Requests List</span></a></li>
            </ul>
        </div>
    </div>
</nav>