
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form>
                <label for="personame">Your name</label>
                <input class="form-control" ng-model="model.order.personame" type="text" id="personame" placeholder="Your name">

                <label for="gender">Gender?</label>
                <input class="form-control" ng-model="model.order.gender" type="text" id="gender" placeholder="Gender preference?">

                <label for="room">How many?</label>
                <input class="form-control" ng-model="model.order.amount" type="text" id="amount" placeholder="How many animals?">

                <label for="room">What facility room?</label>
                <input class="form-control" ng-model="model.order.room" type="text" id="room" placeholder="Specify what room they will be housed">

                <label for="deadline">Time frame?</label>
                <input class="form-control" ng-model="model.order.deadline" type="text" id="deadline" placeholder="Specify the date you need animals by">

                <label for="strain">Mouse Line</label>
                <select class="form-control" ng-model="model.order.strain" id="strain">
                    <option value="agrpv2">AgRPCre(ver2)</option>
                    <option value="brs3">Brs3Cre</option>
                    <option value="calca">CalcaCre</option>
                    <option value="d1">D1Cre</option>
                    <option value="flper">FLPeR</option>
                    <option value="gcg">GcgCre</option>
                    <option value="hsd11b2">Hsd11b2Cre</option>
                    <option value="kiss">KissCre</option>
                    <option value="mox2">Mox2Cre</option>
                    <option value="nr1">NR1</option>
                    <option value="oxtr">OxtrCre</option>
                    <option value="pac1r">Pac1rCre</option>
                    <option value="satb2">Satb2Cre</option>
                    <option value="tacr1">TacR1Cre</option>
                    <option value="tacr3">TacR3Cre</option>
                    <option value="vamp2">Vamp2</option>
                </select>

                <a ng-click="model.requestoDB(model.order)" class="form-control btn btn-block btn-primary">Place Your Request</a>
                <a ng-click="model.prepareForCalendar(model.order)" class="form-control btn btn-block btn-success">Google Calendar Reminder of Your Request</a>
            </form>
        </div>
    </div>
</div>