<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form>
                <label for="personame">Your name</label>
                <input class="form-control" ng-model="model.order.personame" type="text" id="personame" placeholder="Your name">

                <label for="gender">Gender?</label>
                <input class="form-control" ng-model="model.order.gender" type="text" id="gender" placeholder="Type either 'female' or 'male'?">

                <label for="room">How many?</label>
                <input class="form-control" ng-model="model.order.amount" type="text" id="amount" placeholder="How many animals?">

                <label for="room">What facility room?</label>
                <input class="form-control" ng-model="model.order.room" type="text" id="room" placeholder="Specify what room they will be housed">

                <label for="deadline">Time frame?</label>
                <input class="form-control" ng-model="model.order.deadline" type="text" id="deadline" placeholder="Specify the date you need animals by">

                <label for="strain">Mouse Line</label>
                <select class="form-control" ng-model="model.order.strain" id="strain">
                    <option value="AgRPv2Cre">AgRPCre(ver2)</option>
                    <option value="ArcDelta">ArcDelta</option>
                    <option value="ArcLox">ArcLox</option>
                    <option value="Brs3Cre">Brs3Cre</option>
                    <option value="CalcaCre">CalcaCre</option>
                    <option value="CalcrlCre">CalcrlCre</option>
                    <option value="D1Cre">D1Cre</option>
                    <option value="DbhCre">DbhCre</option>
                    <option value="FLPeR">FLPeR</option>
                    <option value="FosCre">FosCre</option>
                    <option value="Foxp2Cre">Foxp2Cre</option>
                    <option value="GAD2Cre">GAD2Cre</option>
                    <option value="GcgCre">GcgCre</option>
                    <option value="Gpr88Cre">Gpr88Cre</option>
                    <option value="Hsd11b2Cre">Hsd11b2Cre</option>
                    <option value="KissCrev2">KissCrev2</option>
                    <option value="Mox2Cre">Mox2Cre</option>
                    <option value="NR1Lox">NR1Lox</option>
                    <option value="NTSCre">NTSCre</option>
                    <option value="Ntsr1FlpCre">Ntsr1FlpCre</option>
                    <option value="OxtrCre">OxtrCre</option>
                    <option value="Pac1rCre">Pac1rCre</option>
                    <option value="PdynCre">PdynCre</option>
                    <option value="R26ChR2Lox">R26ChR2Lox</option>
                    <option value="Satb2Cre">Satb2Cre</option>
                    <option value="Stxbp3Delta">Stxbp3Delta</option>
                    <option value="Stxbp3Lox">Stxbp3Lox</option>
                    <option value="Tac1Cre">Tac1Cre</option>
                    <option value="TacR1Cre">TacR1Cre</option>
                    <option value="TacR3Cre">TacR3Cre</option>
                    <option value="Tdtomato">Tdtomato</option>
                    <option value="Vamp2Lox">Vamp2</option>
                    <option value="VgatLox">VgatLox</option>
                    <option value="Vglut2Cre">Vglut2Cre</option>
                    <option value="Vglut2Lox">Vglut2Lox</option>
                </select>

                <a ng-click="model.requestoDB(model.order)" class="form-control btn btn-block btn-primary">Place Your Request</a>

                <a ng-click="model.handleAuthClick()" class="form-control btn btn-block btn-success">Google Calendar Reminder of Your Request</a>
            </form>
        </div>
    </div>
</div>

<nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/"><span class="glyphicon glyphicon-home">Home</span></a></li>
                <li><a href="#!/profile"><span class="glyphicon glyphicon-user">Profile</span></a></li>
                <li><a href="#!/listOfLines"><span class="glyphicon glyphicon-th-list">Lines List</span></a></li>
                <li><a href="#!/listOfRequests"><span class="glyphicon glyphicon-tag">Requests List</span></a></li>
            </ul>
        </div>
    </div>
</nav>