<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">-->
    <!--<link href="/assignment/css/bootstrap-3.3.7-dist/css/bootstrap.min.css"-->
          <!--type="text/css"-->
          <!--rel="stylesheet"/>-->
    <!--<link href="../../../css/style.css" rel="stylesheet"/>-->
    <!--<title>Website List</title>-->
<!--</head>-->
<!--<body>-->

<div class="panel panel-primary">
    <div class="panel-heading customhead">
        <div class="container-fluid panel-container">
            <a href="page-new.view.client.html"><span class="pull-right glyphicon glyphicon-plus newpagecustom" aria-hidden="true"></span></a>
            <h3 class="panel-title"><a href="../../website/templates/website-list.view.client.html"><span class="pull-left glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a> Pages </h3>
        </div>
    </div>

    <div class="panel-body container-fluid">
        <ul class="list-group">
            <li class="list-group-item borderless"><a href="../../widget/widget-list.html"> Blog Post </a><a href="page-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog newpagecustom" aria-hidden="true"></span></a></li>
            <li class="list-group-item borderless"><a href="../../widget/widget-list.html">Blogs </a><a href="page-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog newpagecustom" aria-hidden="true"></span></a></li>
            <li class="list-group-item borderless"><a href="../../widget/widget-list.html">Home </a><a href="page-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog newpagecustom" aria-hidden="true"></span></a></li>
            <li class="list-group-item borderless"><a href="../../widget/widget-list.html">About </a><a href="page-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog newpagecustom" aria-hidden="true"></span></a></li>
            <li class="list-group-item borderless"><a href="../../widget/widget-list.html">Contact Us </a><a href="page-edit.view.client.html"><span class="pull-right glyphicon glyphicon-cog newpagecustom" aria-hidden="true"></span></a></li>
        </ul>
    </div>

    <div class="panel-footer"><a href="../user/profile.html"><span class="pull-right glyphicon glyphicon-user" aria-hidden="true"></span></a>Panel footer</div>
</div>


<!--</body>-->
<!--</html>-->